nav{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.apple{
  height: 30px;
  width: 30px;
}
.cart{
  height: 30px;
  width: 30px;
  position: relative;
  margin-right: 15px;
}
.cart-count{
  text-align: center;
  width: 20px;
  border: 0px solid black;
  border-radius: 50%;
  background-color:black;
  color: white;
  position: absolute;
  margin-left: 15px;
  margin-top: 20px;
}
.cart-login{
  height: 30px;
  width: 30px;
}


h1{
  font-family:"SF Pro Display", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
section{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cart-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}

img{
  height: 200px;
  width: 200px;
}
/* increase-decrease qty btn*/
.btn-up{
  background-color: white;
  border: none;
}
.btn-down{
  background-color: white;
  border: none;
}
.up{
  height: 25px;
  width: 25px;
}
.down{
  height: 25px;
  width: 25px;
}

.summary{
  align-items: center;
}
.btn-remove{
  background: none;
  border: none; 
  color:#0C68EE;
}
.btn-remove:hover{
  cursor: pointer;
  color:#0C68EE;
  text-decoration: underline;
}
